.searchpage_header{
    display: flex;
    position: sticky;
    top: 0;
    background: white;
    z-index: 100;
    align-items: flex-start; 
    padding: 30px;
    border-bottom: 1px solid lightgray;
}
.searchpage_logo{
    object-fit: contain;
    height: 50px;
    margin-right: 50px;
}

.searchpage_headerbody > .search > .search_input{
    margin-top: 0;
    width: unset;
    margin: unset;
    max-width: unset;
}
.searchpage_options{
    display: flex;
    align-items: center;
    color: gray;
}
.searchpage_optionright a,.searchpage_option a { 
    text-decoration: none;
    color: gray;
}
.searchpage_optionright,.searchpage_optionleft{
    display: flex;
}
.searchpage_optionright{
    margin-left: 80px;
}
.searchpage_option{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.searchpage_option a{
    margin-left: 5px;
}
.Searchpage_resultcount{
    color: #70757a;
}
.Searchpage_results{
    max-width: 650px;
    margin-top: 20px;
    margin-left: 240px;
    margin-bottom: 50px;
}

.Searchpage_resulttitle {
    color: rgb(29, 29, 219);
}
.Searchpage_resulttitle{
    text-decoration: none;
}
.Searchpage_resulttitle:hover{
    text-decoration: underline;
}
.link{
    display: flex;
}